body{
  background-color: #1D102F;
  color: #F4EDDB;
  font-family: 'Nunito', sans-serif;
}

body *{
  box-sizing: border-box;
}

a{
  color: #929794;
}

header{
  height: 3em;
}

header h1{
  width: 80%;
  margin: auto;
}

#box{
  position: relative;
  width: 60%;
  margin: auto;
}

#box:before{
  content: '';
  display: block;
  padding-top: 100%;
  background-color: cyan;
}

#canvas {
  cursor: crosshair;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #766073;
  display: grid;
  border: 3px solid #6D758F;
  /* grid-template-columns: repeat(128, 1fr); */
}

.controls{
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  width: 60%;
  margin: 1em auto;
}

.pixel{
  width: 100%;
  /*background-color: #F4EDDB;*/
}

.pixel:hover{
  background-color: gray;
}

button{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #766073;
  box-shadow: 0px 6px #6D758F;
  border: 2px solid #6D758F;
  color: #F4EDDB;
  cursor: pointer;
  font-size: 26px;
  padding: 4px 8px;
  margin: 0 8px 0 0;
  /* position: relative;
  display: inline-block; */
  vertical-align: top;
}

button:hover{
  border-color: #F4EDDB;
}

button:active{
  color: #6D758F;
  box-shadow: 0px 2px #6D758F;
  margin-top: 4px;
  padding-bottom: 4px; */
}

.control-label{
  font-size: 26px;
  padding-top: 4px;
  margin: 0 10px;
}

.toggle{
  border: 2px solid #6D758F;
  position: relative;
  display: inline-block;
  width: 78px;
  height: 45px;
  box-shadow: 0px 6px #6D758F;
}

.toggle input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1D102F;
  -webkit-transition: .8s;
  transition: .8s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 33px;
  width: 33px;
  left: 4px;
  top: 4px;
  background-color: #F4EDDB;
  -webkit-transition: .8s;
  transition: .8s;
}

input:checked + .slider {
  background-color: #766073;
}

/* input:focus + .slider{
  box-shadow: 0 0 1px #29F;
} */

input:checked + .slider:before{
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}

footer{
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -100;

  /* width: 100%;
  bottom: 0; */
}
footer #credits{
  text-align: center;
  font-size: .8em;
}
